* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-width: 100vh;
    background-color: rgb(189, 241, 234);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background-color: azure;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: rgb(118, 235, 92);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 100px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(184, 232, 243);
    border-radius: 30px;
    /* border: 1px solid black; */
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    padding: 16px 50px;
    border: none;
    outline: none;
    background-color: rgb(189, 232, 110);
    color: rgb(67, 47, 47);
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}

ul li {
    list-style: none;
    /* border: 1px solid black; */
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/22.jpeg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    
}

ul li span:hover {
    background-color: #ced0d4;
}